<div class="nav-collapse">
<ul class="nav pull-right">
    <li class="divider-vertical"></li>
    <form class="navbar-form pull-left" action="/addtag" method="get" id="addtag">
        <input type="text" class="span2" name="tag" placeholder="new tag" allowBlank="true">          
    </form>
    <li class="divider-vertical"></li>
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user"></i> {{ ui.user }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a id="subscription" href="/feeds"><i class="icon-fire"></i> Feeds</a></li>
            <li><a id="setting" href="/setting"><i class="icon-wrench"></i> Setting</a></li> 
            <li class="divider"></li>
            <li><a href="{{ url }}"><i class="icon-off"></i> {{ linktext }}</a></li>
        </ul>
    </li>
</ul>
</div>
