{% for tag in bm.other_tags %}   
  <a class="btn btn-mini btn-link " id="assigntag-{{ tag.id() }}-{{ bm.id }}">{{ tag.get().name }}</a>
  <script>
  $("#assigntag-{{ tag.id() }}-{{ bm.id }}").click(function() {
    $.ajax({
      url: "/assigntag",
      data: { bm: "{{ bm.id }}",
              tag: "{{ tag.id() }}" },
      success: function(tags) {
        $("#tags-{{ bm.id }}").html(tags);
        $.ajax({
          url: "/gettags", 
          data: { bm: "{{ bm.id }}" }, 
          success: function(other_tags) {
            $("#comment-{{ bm.id }}").html(other_tags);
            $("#dashboard").html('<a>Tag added</a>');
          } 
        });
      }
    });
  })
  </script>
{% endfor %}