
<dt> <i class="icon-bookmark"></i> <a href="{{ bm.url }}" target="_blank">{{ bm.title|e }}</a>
    <a class="btn btn-link btn-mini " href="/dom?dom={{ bm.domain }}"><em>{{ bm.domain }}</em> </a> 
    {% if ui.twitt %}
    <div class="btn-group pull-right" >
        {% include "tweet.html" %}
    </div>
    {% endif %}
</dt>

<dt>      
<div class="btn-toolbar visible-phone">
    <div class="btn-group">
        <button class="btn btn-mini" onclick="comment({{ bm.id }})"><i class="icon-comment"></i> comment</button>
        <button class="btn btn-mini" onclick="archive({{ bm.id }})">            
        {% if bm.archived or bm.trashed %}
        <i class="icon-inbox"></i> inbox</button> 
        {% else %}
        <i class="icon-folder-close"></i> archive</button> 
        {% endif %}

        <button class="btn btn-mini" onclick="trash({{ bm.id }})">
        {% if bm.trashed %}
        <i class="icon-remove"></i> delete</button>
        {% else %}
        <i class="icon-trash"></i> trash</button> 
        {% endif %}
    </div>
</div>

<div class="btn-toolbar hidden-phone">
    <div class="btn-group" >
        <button class="btn btn-mini" onclick="star({{ bm.id }})" id="star-{{ bm.id }}">
            {% if bm.starred %}<i class="icon-star">{% else %}<i class="icon-star-empty">{% endif %}</i>
        </button>
        <button class="btn btn-mini" onclick="share({{ bm.id }})" id="share-{{ bm.id }}">
            {% if bm.shared %}<i class="icon-eye-open"></i> shared{% else %}<i class="icon-eye-close"></i>{% endif %}
        </button>
    </div>

    <div class="btn-group">
        <button class="btn btn-mini" onclick="comment({{ bm.id }})"> <i class="icon-comment"></i> comment</button>
        <button class="btn btn-mini" onclick="tags({{ bm.id }})"> <i class="icon-tags"></i> tags</button>
        <button class="btn btn-mini" onclick="edit({{ bm.id }})"> <i class="icon-edit"></i> edit</button>
    </div>

    <div class="btn-group" >
        <button class="btn btn-mini" onclick="archive({{ bm.id }})">
        {% if bm.archived or bm.trashed %}
        <i class="icon-inbox"></i> inbox</button>
        {% else %}
        <i class="icon-folder-close"></i> archive</button>
        {% endif %}
        <button class="btn btn-mini" onclick="trash({{ bm.id }})">
        {% if bm.trashed %}<i class="icon-remove"></i> delete</button>
        {% else %}<i class="icon-trash"></i> trash</button> {% endif %}
    </div>

    <div class="btn-group" >
        <button class="btn disabled btn-mini"><i class="icon-time"></i> {{ bm.data|dtf }}</button>
    </div>
</div>

</dt>
    <dd id="tags-{{ bm.id }}"> {% include "tags.html" %} </dd>
    <dd id="comment-{{ bm.id }}"> {{ bm.comment}} </dd>