<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="static/img/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/git.css" media="screen" />
    <title>Gae.icio.us by presveva</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Gae.icio.us</h1>
        <h2>A private-only Bookmarking Service</h2>
        <a href="{{url}}" class="button">Login</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">

        <section id="main-content">
          <h2>Goodies</h2>
            <h4>Tagging</h4>
              <h5>Associate tags to the bookmark</h5>
              <h5>Filter and refine the bookmarks by tags</h5>
            <h4>Preview</h4>
              <h5>Youtube video is incorporate</h5>
              <h5>Urls is parsed and cleaned</h5>   
            <h4>Mail yourself (MYS)</h4>
              <h5>An optional ability for send any new bookmark in you inbox.</h5>
        </section>

        <section id="main-content">          
          <h2>How to post</h2>
            <h4>Bookmarklet</h4>
              <h5>Drag and drop the bookmarklet in your bookmarks bar</h5>
              <h5>click on bookmarklet for create a new bookmark</h5>
              <h5>if you select a text, this is insert as comment</h5>
            <h4>Post via email</h4>
              <h5>From: the email used in gae.icio.us</h5>
              <h5>To: post@gaeicious.appspotmail.com</h5>
              <h5>Subject: the title of the post</h5>
              <h5>Body: the link of the post</h5>
            <h4>Feed subscription</h4>
              <h5>Add your feed links in subscriptions page</h5>
              <h6>gaeicious create a new bookmark for any new items in the feed</h6>
        </section>

        <section id="main-content">
          <h3>Autors and tools</h3>
            <h5><a href="https://github.com/presveva/gae.icio.us">Gae.icio.us</a></h5>
            <h5>is maintained by <a href="https://twitter.com/presveva">presveva</a></h5>
            <h5>powered by <a href="https://developers.google.com/appengine/">Google App Engine</a></h5>
            <h5>and styled by <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></h5>
        </section>

      </div>
    </div>

  
  </body>
</html>