<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="container">

    <div class="hero-unit">
        <h2>Gae.icio.us</h2>
        <p>A bookmarking service</p>
        <p><a href="{{url}}" class="btn ">Login</a></p>
    </div>

    <div class="row">
        <div class="span4">
            <h3>Goodies</h3>
            <dl>
                <dt>Tagging</dt>
                    <dd>Associate tags to the bookmark</dd>
                    <dd>Filter and refine the bookmarks by tags</dd>
                <dt>Content optimization</dt>
                    <dd>Images, Youtube and Vimeo video is incorporated as comment</dd>
                    <dd>Urls is sanitized</dd> 
                <dt>Mail yourself (MYS)</dt>
                    <dd>the user can receive an email for each bookmark</dd>
            </dl>
        </div>
        <div class="span4">
            <h3>How to post</h3>
            <dl>
                <dt>Bookmarklet</dt>
                    <dd>Drag and drop the bookmarklet in your bookmarks bar</dd>
                    <dd>click on bookmarklet in order to create a new bookmark</dd>
                    <dd>if you select a text, this is "insert as comment"</dd>
                <dt>Post via email</dt>
                    <dd>From: the email used in gae.icio.us</dd>
                    <dd>To: post@gaeicious.appspotmail.com</dd>
                    <dd>Subject: the title of the post</dd>
                    <dd>Body: the link of the post</dd>
                <dt>Feed subscription</dt>
                    <dd>Add your feed urls in Feeds page</dd>
                    <dd>the app creates a new bookmark for each new item in the feed</dd>
                    <dd>For each feed you can choice from: 8 hourly digest/only web/email for each bookmark.</dd>
            </dl>
        </div>
        <div class="span4">
            <h3>Autors and tools</h3>
            <dl>
                <dt><a href="https://github.com/presveva/gae.icio.us">Gae.icio.us</a></dt>
                    <dd>is maintained by <a href="https://twitter.com/presveva">presveva</a></dd>
                    <dd>powered by <a href="https://developers.google.com/appengine/">Google App Engine</a></dd>
                    <dd>and styled by <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></dd>
            </dl>
        </div>
    </div>

</div> <!-- /container -->
{% endblock %}