{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row">
{% include "sidebar.html" %}


<div class="span9">

  <dl class="well well-small hide" id="cloud">     
    <dt> <div class="btn-toolbar">
      {% for tag in ui.tag_list %}
      <a class="btn btn-mini" href="/filter?tag={{ tag.name }}"> <i class="icon-tag"></i> {{ tag.name }} ({{ tag.count }})</a>
      {% endfor %}
    </div> </dt>
    <script type="text/javascript">
    $("#tagcloud").toggle(function() {
      $("#cloud").removeClass('hide');
      }, function() {
      $("#cloud").addClass('hide');
      });
    </script>
  </dl>

  {% for bm in bms %}
  <dl class="well well-small" id="row-{{ bm.key.id() }}"> 
    {% include "bookmark.html" %}
  </dl>
    {% include "script.html" %}
  {% endfor %}

{% if c %}
<a class="btn btn-large btn-block" href="?c={{c}}" type="button">more..</a>
{% endif %}

</div>


</div>
</div>

{% endblock %}