<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <a class="brand" href="/">{{ brand }}</a>
        <li class="divider-vertical"></li>
        <form class="navbar-form pull-left" action="/addtag" method="get">
          <input type="text" class="span2" name="tag" placeholder="new tag" allowBlank="true">
          <button type="submit" class="btn">create</button>
        </form>
        <li class="divider-vertical"></li>
        <form class="navbar-search pull-right hide" action="/search">
          <input type="text" class="search-query input-medium" placeholder="Search a tag" name="tag">
        </form>
      </ul>
      <ul class="nav pull-right">
        {% if ui.user %}        
        <li><a href="/setmys"><i class="icon-envelope"></i>
          {% if ui.mys %}MYS active!{% else %}MYS inactive{% endif %}</a></li>
        <li><a href="{{ bookmarklet }}"><i class="icon-bookmark"></i> {{ brand }} it!</a></li>        
        {% endif %}
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user"></i> {{ nick }} <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/feeds"><i class="icon-wrench"></i> Subscriptions</a></li>
            <li><a href="https://github.com/presveva/gae.icio.us"><i class="icon-file"></i> Source code</a></li>
            <li><a href="{{ url }}"><i class="icon-off"></i> {{ linktext }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>