<script type="text/javascript">

$("#star-{{ bm.key.id() }}").click(function() {
  $.ajax({
    url: "/star",
    data: { bm: "{{ bm.key.id() }}" },
    success: function(html) {
      $("#star-{{ bm.key.id() }}").html(html);
    }
  });
})

$("#prev-{{ bm.key.id() }}").click(  
  function() {
    $.ajax({
      url: "/getcomment",
      data: { bm: "{{ bm.key.id() }}" },
      success: function(html) {
        $("#comment-{{ bm.key.id() }}").html(html);
      }
    });
  }
)

$("#tags-{{ bm.key.id() }}").click(
  function() {
    $.ajax({
      url: "/gettags",
      data: { bm: "{{ bm.key.id() }}" },
      success: function(html) {
        $("#comment-{{ bm.key.id() }}").html(html);
      }
    });
  }
)

$("#edit-{{ bm.key.id() }}").click(
  function() {
    $.ajax({
      url: "/getedit",
      data: { bm: "{{ bm.key.id() }}" },
      success: function(html) {
        $("#comment-{{ bm.key.id() }}").html(html);
      }
    });
  }
)

$("#arch-{{ bm.key.id() }}").click(function() {
  $.ajax({
    url: "/archive",
    data: { bm: "{{ bm.key.id() }}" },
    success: function() {
      $("#row-{{ bm.key.id() }}").addClass('hide');
    },
  });
})

$("#trash-{{ bm.key.id() }}").click(function() {
  $.ajax({
    url: "/trash",
    data: { bm: "{{ bm.key.id() }}" },
    success: function() {
      $("#row-{{ bm.key.id() }}").addClass('hide');
    },
  });
})


</script>

