<script type="text/javascript">

$("#tags-{{ bm.key.id() }}").toggle(
  function() {
    $(this).button('toggle');
    $.ajax({
      url: "/gettags",
      data: { bm: "{{ bm.key.id() }}" },
      success: function(html) {
        $("#comment-{{ bm.key.id() }}").html(html);
      }
    });
  },
  function() {
    $("#comment-{{ bm.key.id() }}").html('');
    $(this).button('toggle');
  }
)

$("#edit-{{ bm.key.id() }}").toggle(
  function() {    
    $.ajax({
      url: "/getedit",
      data: { bm: "{{ bm.key.id() }}" },
      success: function(html) {
        $("#comment-{{ bm.key.id() }}").html(html);
      }
    });
    $(this).button('toggle');
  },
  function() {
    $("#comment-{{ bm.key.id() }}").html('');
    $(this).button('toggle');
  }
)

$("#prev-{{ bm.key.id() }}").toggle(  
  function() {
    $(this).button('toggle');
    $.ajax({
      url: "/getcomment",
      data: { bm: "{{ bm.key.id() }}" },
      success: function(html) {
        $("#comment-{{ bm.key.id() }}").html(html);
      }
    });
    $(this).button('toggle');
  },
  function() {
    $("#comment-{{ bm.key.id() }}").html('');
    $(this).button('toggle');
  }
)

$("#star-{{ bm.key.id() }}").click(function() {
    $.ajax({
      url: "/star",
      data: { bm: "{{ bm.key.id() }}" },
      success: function(html) {
        $("#star-{{ bm.key.id() }}").html(html);
      }
    });
  }
)

$("#arch-{{ bm.key.id() }}").click(function() {
  $.ajax({
    url: "/archive",
    data: { bm: "{{ bm.key.id() }}" },
    success: function() {
      $("#row-{{ bm.key.id() }}").addClass('hide');
    },
  });
})

$("#trash-{{ bm.key.id() }}").click(function() {
  $.ajax({
    url: "/trash",
    data: { bm: "{{ bm.key.id() }}" },
    success: function() {
      $("#row-{{ bm.key.id() }}").addClass('hide');
    },
  });
})


</script>

