{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row-fluid">
  <label>Add Feed</label>
  <form action="/feed" method="post"> 
    <input type="text" class="input span12" name="url" allowBlank="true">
  </form>
  <hr>
</div>
{% for feed in feeds %}
<div class="row-fluid">
  <div class="span1">
    <a class="btn btn-mini" href="/feed?id={{ feed.key.id() }}" >delete</a>
  </div>
  <div class="span11">
    <p><a href="{{ feed.root }}" ><strong> {{ feed.blog }}</strong></a> - last update: {{ feed.data|dtf }}<br>  {{ feed.feed }}</p>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}