{% extends "base.html" %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}

<div class="container">
<div class="row">
{% include "sidebar.html" %}
<div class="span5">

<legend>Methods for submit bookmarks</legend>

<!-- Bookmarklet -->
<form> 
    <label><strong>Bookmarklet</strong></label>
    <span class="help-block">Drag and drop in your bookmarks bar.</span>
    <a class="btn btn-link disabled" id="bookmarklet" href="{{ bookmarklet }}" rel="tooltip" data-placement="bottom" title="This is a bookmarklet, drag and drop in your bookmarks bar"><i class="icon-bookmark"></i> {{ brand }} it!</a>  
</form>
<hr>
<!-- Bookmark via email -->
<label><strong>Bookmark via email</strong></label>
<dl class="dl-horizontal"> 
    <dt>From:</dt><dd> the email used in {{brand}}</dd>
    <dt>To:</dt><dd> post@{{brand}}.appspotmail.com</dd>
    <dt>Subject:</dt><dd> the <em>title</em> of the Bookmark</dd>
    <dt>Body:</dt><dd> the <em>link</em> of the Bookmark</dd>
</dl>
<hr>
<form action="{{upload_url}}" method="POST" enctype="multipart/form-data">
<label><strong>Import from delicious file (delicious.html)</strong></label>
<span class="help-block">
    <a href="http://export.delicious.com/settings/bookmarks/export" >
    Export the 'delicious.html'</a> file and upload here.
</span>
    <input type="file" name="file">
    <input class="btn" type="submit"name="submit" value="Submit"> 
</form>
<hr>
<label><strong>Feeds</strong></label>
<dl class="dl-horizontal"> 
    Add your prefered feeds to <a href="/feeds" >feeds page</a> and {{brand}} submit each new post for you.
</dl>

</div>

<div class="span4">

<legend>Setting</legend>
<!-- mail yourself -->
<form>  
    <label><strong>Mail yourself</strong></label>
    <span class="help-block">If enabled you will receive an email for each new bookmark.</span>
    <label class="checkbox"> 
        <input type="checkbox" id="mys-check"><p id="mys-text"></p>
    </label>
</form>
<hr>
<!-- daily digest -->
<form>  
    <label><strong>Daily Digest</strong></label>
    <span class="help-block">If enabled you will receive a daily digest of your activity.</span>
    <label class="checkbox">
        <input type="checkbox" id="daily-check"><p id="daily-text"></p>
    </label>
</form>
<hr>
<!-- Twitter buttons -->
<form>  
    <label><strong>Twitter buttons</strong></label>
    <span class="help-block">If enabled you see a twitter share button for each bookmark.</span>
    <label class="checkbox"> 
        <input type="checkbox" id="twitt-check"><p id="twitt-text"></p>
    </label>
</form>
<hr>


</div>
</div>
</div>
<script src="js/setting.js"></script>
{% endblock %}