<div class="span3">
  <div class="well well-small">
    <ul class="nav nav-list">
      <li><a href="/"><i class="icon-inbox"></i> Inbox</a></li>
      <li><a href="/archived"><i class="icon-book"></i> Archive</a></li>        
      <li><a href="/starred"><i class="icon-star"></i> Starred</a></li>
      <li><a href="/trashed"><i class="icon-trash"></i> Trash</a></li>
      <li class="divider"></li>
      <li><a href="/notag"><i class="icon-exclamation-sign"></i> Untagged</a></li>
      <li><a href="/previews"><i class="icon-eye-open"></i> Previews</a></li>
      <li class="divider"></li>
      <li><a id="tagcloud" href="#"><i class="icon-tags"></i> Tag cloud</a></li>
      {% if tag_obj is none %}
      {% elif not tag_obj %}
      <li class="nav-header"><i class="icon-search"></i> Filter by tag</li>
      {% else %}
      <li class="nav-header"><i class="icon-filter"></i> Refine the filter<li>
      {% endif %}

      {% if tag_obj is none %}<!-- refine -->
      {% elif not tag_obj %}<!-- home pages -->
      {% for tag in tags %}
      <li>  
        <a href="/filter?tag={{ tag.get().name }}"> [{{ tag.get().count }}]  {{ tag.get().name }} </a>
      </li>
      {% endfor %}        
      {% else %}<!-- filter page -->
      {% for tag in tags %}
      <li>            
        <a href="/refine?tag={{ tag_obj.name }}&refine={{ tag.get().name }}"> {{ tag.get().name }} </a>
      </li> 
      {% endfor %}        
      {% endif %}
    </ul>
  </div>
</div>