<div class="btn-toolbar">
{% for tag in bm.tags %}
<div class="btn-group">
  <a class="btn btn-mini btn-link disabled" href="/filter?tag={{ tag.get().name }}">
    <i class="icon-tag"></i> {{ tag.get().name }}</a>
  <a class="btn btn-mini btn-link disabled" id="removetag-{{ bm.key.id() }}-{{ tag.id() }}">
    <i class="icon-remove"></i></a>
</div>
<script>
$("#removetag-{{ bm.key.id() }}-{{ tag.id() }}").click(
  function() {
    $.ajax({
      url: "/removetag",
      data: { bm: "{{ bm.key.id() }}",
              tag: "{{ tag.id() }}" },
      success: function(tags) {
        $("#tags-{{ bm.key.id() }}").html(tags);
        $.ajax({
          url: "/gettags", 
          data: { bm: "{{ bm.key.id() }}" }, 
          success: function(other_tags) {
            $("#comment-{{ bm.key.id() }}").html(other_tags);
            $("#dashboard").html('<a>Tag removed</a>');
          } 
        });
      }
    });
  }
)
</script>
{% endfor %}
</div>